acres
alembic
annotated-types
anyio
asyncpg
certifi
cffi
charset-normalizer
ci-info
click
colorama
configobj
configparser
cryptography    
deprecation
distro
dnspython
ecdsa
email_validator
etelemetry
fastapi
filelock
fsspec
gotrue
greenlet
groq
grpcio
h11
h2
hf-xet
hpack
httpcore
httplib2
httptools
httpx
huggingface_hub
hyperframe
idna
importlib_resources
iniconfig
looseversion
lxml
Mako
MarkupSafe
networkx
numpy
orjson
packaging
pandas
pathlib
pillow
pluggy
portalocker
postgrest
protobuf
psycopg2
puremagic
pyasn1
pycparser
pydantic-settings
pydantic_core
pydot
Pygments
PyJWT
PyMuPDF
pyparsing
pytest
pytest-asyncio
python-dateutil
python-docx
python-dotenv
python-jose
python-multipart
PyYAML
qdrant-client
realtime
requests
rsa
scipy
simplejson
six
sniffio
SQLAlchemy
starlette
storage3.py
StrEnum
structlog
supabase
supafunc
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchfiles    
websockets  