alembic
annotated-types
asyncpg
email_validator
fastapi
greenlet
groq
httpcore
httplib2
httptools
httpx
huggingface_hub
numpy
orjson
pandas
pathlib
pillow
psycopg2
pyasn1
pycparser
pydantic-settings
pydantic_core
PyJWT
PyMuPDF
pytest
pytest-asyncio
python-dateutil
python-docx
python-dotenv
python-jose
python-multipart
PyYAML
qdrant-client
requests
simplejson
SQLAlchemy
supabase
uvicorn